@import "tailwindcss";

body{
  background-color: black;
}

@font-face{
  font-family: font1;
  src: url('./assets/fonts/Lausanne-300.woff2');
}

@font-face{
  font-family: font2;
  src: url('./assets/fonts/Lausanne-500.woff2');
}