@import "tailwindcss";

::-webkit-scrollbar{
  display: none;
}

/* body{
  background-color: rgb(0, 183, 255);
} */

@font-face{
  font-family: font1;
  src: url('./assets/fonts/Lausanne-300.woff2');
}

@font-face{
  font-family: font2;
  src: url('./assets/fonts/Lausanne-500.woff2');
}

body{
  overflow-x: hidden;
}

.moveLink{
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
}

.link:hover .moveLink{
  height: 100%;
}

.moveX{
  animation: moveAnimation 15s linear infinite;
}

@keyframes moveAnimation{
  from{
    transform: translateX(0%);
  }
  to{
    transform: translateX(-100%);
  }
}